.card{
    width:360px;
    margin-top:20%;
    margin-left:30%;
}
#login-password{
    position: relative;
    left: 4px;
}
.alert-danger{
    padding: 0px;
    width:200px;
    position: relative;
    left:37px;
}
.dropdown{
    display: inline;
    float:right;
}

.dropdown-item{
    cursor:pointer;
}