<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyh.ums.dao.TOrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.cyh.ums.domain.TOrganization" >
    <id column="t_organization_id" property="tOrganizationId" jdbcType="BIGINT" />
    <result column="parent_organization_id" property="parentOrganizationId" jdbcType="BIGINT" />
    <result column="organization_name" property="organizationName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cyh.ums.domain.TOrganization" extends="BaseResultMap" >
    <result column="describe_info" property="describeInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    t_organization_id, parent_organization_id, organization_name, create_date, update_date
  </sql>
  <sql id="Blob_Column_List" >
    describe_info
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_organization
    where t_organization_id = #{tOrganizationId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_organization
    where t_organization_id = #{tOrganizationId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cyh.ums.domain.TOrganization" >
    insert into t_organization (t_organization_id, parent_organization_id, 
      organization_name, create_date, update_date, 
      describe_info)
    values (#{tOrganizationId,jdbcType=BIGINT}, #{parentOrganizationId,jdbcType=BIGINT}, 
      #{organizationName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{describeInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cyh.ums.domain.TOrganization" >
    insert into t_organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tOrganizationId != null" >
        t_organization_id,
      </if>
      <if test="parentOrganizationId != null" >
        parent_organization_id,
      </if>
      <if test="organizationName != null" >
        organization_name,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="describeInfo != null" >
        describe_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tOrganizationId != null" >
        #{tOrganizationId,jdbcType=BIGINT},
      </if>
      <if test="parentOrganizationId != null" >
        #{parentOrganizationId,jdbcType=BIGINT},
      </if>
      <if test="organizationName != null" >
        #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="describeInfo != null" >
        #{describeInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cyh.ums.domain.TOrganization" >
    update t_organization
    <set >
      <if test="parentOrganizationId != null" >
        parent_organization_id = #{parentOrganizationId,jdbcType=BIGINT},
      </if>
      <if test="organizationName != null" >
        organization_name = #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="describeInfo != null" >
        describe_info = #{describeInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where t_organization_id = #{tOrganizationId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cyh.ums.domain.TOrganization" >
    update t_organization
    set parent_organization_id = #{parentOrganizationId,jdbcType=BIGINT},
      organization_name = #{organizationName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      describe_info = #{describeInfo,jdbcType=LONGVARCHAR}
    where t_organization_id = #{tOrganizationId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cyh.ums.domain.TOrganization" >
    update t_organization
    set parent_organization_id = #{parentOrganizationId,jdbcType=BIGINT},
      organization_name = #{organizationName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where t_organization_id = #{tOrganizationId,jdbcType=BIGINT}
  </update>
</mapper>